@page "{id?}"
@model Hospi.App.Frontend.Pages.RelativePage.DetailsModel

@{
    ViewData["Title"] = "Detalles del familiar";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Model.Relative.Name @Model.Relative.Surname</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Relative.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Relative.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Relative.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Relative.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Relative.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Relative.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Relative.Cellphone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Relative.Cellphone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Relative.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Relative.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Relative.Relationship)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Relative.Relationship)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Relative.Email)
        </dt>
        <dd class="col-sm-10">
            <a>@Model.Relative.Email</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        @if (@Model.Patient != null)
        {
            <dd class="col-sm-10 ">
                <a class="text-info" asp-page="../PatientPage/Details" asp-route-id="@Model.Patient.Id">
                    @Html.DisplayFor(model => model.Patient.Name)
                    @Html.DisplayFor(model => model.Patient.Surname)
                </a>
            </dd>
        }
        else
        {
            <dd class="col-sm-10 "></dd>
        }
    </dl>
</div>
<div>
    <a class="btn btn-outline-warning" asp-page="./Edit" asp-route-id="@Model.Relative.Id">Editar</a>
</div>
