@page
@model Hospi.App.Frontend.Pages.DoctorPage.DeleteModel

@{
    ViewData["Title"] = "Borrar datos del médico";
}

<h1>@ViewData["Title"]</h1>

<h3>¿Está seguro que desea eliminar este recurso?</h3>
<div>
     <h4>@Model.Doctor.Name @Model.Doctor.Surname</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Cellphone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Cellphone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.MedicalSpecialty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.MedicalSpecialty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.RethusRecord)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.RethusRecord)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Doctor.Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a class="btn btn-secondary" asp-page="./Index">Volver al listado de médicos</a>
    </form>
</div>
